@import "./styles/_variables.scss";

.app {
  display: flex;
  justify-content: center;
  background-image: url("./assets/background.png");
  background-size: contain;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}
